<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <title>good Tidings</title>
</head>
<body>

{{>header}}
    <div>
        {{#each title}}
        <div class="card" style="width: 18rem;">
  <img src="{{Image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    
  </div>
</div>

{{/each}}
    </div>


{{>footer}}
<script  src="js/bootstrap.min.js"></script>
</body>
</html>